table, th, td {
   border: 4px solid black;
   font-size: 100%;
}
a {
	color: #FFFFFF;
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 20px;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;

}
input {
	font-size: 80%;
	width: 80%;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",Arial,sans-serif;
}
table {
	width: 100%;
	font-size: 80%;
}
td {
	vertical-align: top;
	padding: 3px;
}
tr:nth-child(even) {background: #004503}
tr:nth-child(odd) {background: #006104}

hr {
	border: 1px dashed white;
}
footer {
  text-align: center;
}
